on: push
name: CI / CD for Dashboard
jobs:
  build:
    name: Building on Linux
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.5.0
    - uses: actions/setup-java@v3.5.1
      with:
        java-version: '17'
        distribution: 'microsoft'
    - uses: subosito/flutter-action@v2.8.0
      with:
        channel: 'stable'
    - run: flutter pub get
    - run: flutter build apk --release
    - name: Building
      uses: ncipollo/release-action@v1.11.1
      with:
        allowUpdates: true
        artifacts: "build/app/outputs/apk/release/*.apk"
        token: ${{ secrets.GITHUB }}
        name: 'URideal'
        tag: Update